#score {   

    text-align: center;
    font-size: 2em;
    border-radius: 25px;
    border: 2px solid #73AD21;
    width: 75%;
    margin: auto;
    background-color: azure;
     
     }

#board {
display: block;
margin-top: 10px;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
border: 4px dotted green;

}

#controls{
display: block;
text-align: center;
width: 200px;
margin: auto;
font-size: 70%;
border-radius: 25px;
border: 4px dotted blue;




}

button  {

font-size: 1.2em;

}